<% if signed_in? %>
<td><small><p align=right><%= link_to "Get Updates! Subscribe to this page's RSS Feed", basketballfeed_url(:rss) %></small><%= image_tag("rss-icon.png",:class => "rss icon")%> </td></align=right>
<h1>Basketball Feed</h1>

<h2 >
<small><small><small><%= link_to "Austin", austinbasketballfeed_path %></small></small></small> |
<small><small><small> <%= link_to "Atlanta", atlantabasketballfeed_path %></small></small></small> |
<small><small><small><%= link_to "Boston", bostonbasketballfeed_path %></small></small></small> |
<small><small><small><%= link_to "DC", dcbasketballfeed_path %></small></small></small> |
<small><small><small><%= link_to "NYC", nycbasketballfeed_path %></small></small></small> |
<small><small><small><%= link_to "Philadelphia", phillybasketballfeed_path %></small></small></small> |
<small><small><small><%= link_to "Richmond", richmondbasketballfeed_path %></small></small></small> |
<small><small><small><%= link_to "Wilmington", wilmingtonbasketballfeed_path %></small></small></small>
</h2>

<table class="front" summary="For signed-in users">
<tr>


<td class="main">

<%= render 'shared/feed' %>
	</td>
</tr>
</table>
<% else %>




<h1>Ball4Days</h1>
<p>
This is the home page of Ball4Days
</p>
<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
<% end %>







